{
  "openapi": "3.1.0",
  "info": {
    "title": "MessageMedia API",
    "description": "The MessageMedia APIs provide powerful business messaging capabilities across sending, receiving, and processing SMS, MMS, and rich messaging.",
    "version": "2.1.0",
    "contact": {
      "name": "MessageMedia Support",
      "url": "https://support.messagemedia.com",
      "email": "support@messagemedia.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://d39hc0n4m3tn9p.cloudfront.net/_Py8YCSnDersHN0-w9XjzNNq2UbWTqvYtqcU2fFEoMk/static/svg/mm.2159066a.svg",
      "altText": "MessageMedia Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.messagemedia.com",
      "description": "APAC Production Server"
    },
    {
      "url": "https://eu.app.api.sinch.com",
      "description": "EU Production Server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "hmacAuth": []
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "tags": ["Messages"],
        "summary": "Send a message",
        "description": "Send a new outbound message (SMS, MMS, or TTS).",
        "operationId": "sendMessage",
        "requestBody": {
          "description": "Message to send",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/replies": {
      "get": {
        "tags": ["Replies"],
        "summary": "Check replies",
        "description": "Retrieve replies that have been sent to your account.",
        "operationId": "getReplies",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter replies received after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter replies received before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of replies to return (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "destination_number",
            "in": "query",
            "description": "Filter by destination number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_number",
            "in": "query",
            "description": "Filter by source number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplyList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/delivery_reports": {
      "get": {
        "tags": ["Delivery Reports"],
        "summary": "Check delivery reports",
        "description": "Retrieve delivery reports for sent messages.",
        "operationId": "getDeliveryReports",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for filtering reports (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for filtering reports (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of reports to return (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryReportList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MessageRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "List of messages to send"
          },
          "message_expiry_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the message expires"
          },
          "notify_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive delivery notifications"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": ["content", "destination_number"],
        "properties": {
          "content": {
            "type": "string",
            "description": "Message content (max 1600 characters for SMS)",
            "maxLength": 1600
          },
          "destination_number": {
            "type": "string",
            "description": "Recipient's phone number in E.164 format"
          },
          "delivery_report": {
            "type": "boolean",
            "description": "Whether to request a delivery report",
            "default": false
          },
          "format": {
            "type": "string",
            "enum": ["SMS", "VOICE", "MMS"],
            "default": "SMS"
          },
          "scheduled": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled time for message delivery"
          },
          "source_number": {
            "type": "string",
            "description": "Sender ID or phone number"
          },
          "source_number_type": {
            "type": "string",
            "enum": ["INTERNATIONAL", "ALPHANUMERIC", "SHORTCODE", "VIRTUAL"],
            "description": "Type of source number"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Unique identifier for the message"
                },
                "status": {
                  "type": "string",
                  "description": "Status of the message"
                },
                "destination_number": {
                  "type": "string",
                  "description": "Recipient's phone number"
                }
              }
            }
          }
        }
      },
      "DeliveryReportList": {
        "type": "object",
        "properties": {
          "delivery_reports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryReport"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DeliveryReport": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the message"
          },
          "status": {
            "type": "string",
            "description": "Delivery status"
          },
          "destination_number": {
            "type": "string",
            "description": "Recipient's phone number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the report was generated"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "delivery_timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "When the message was delivered"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items available"
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          }
        }
      },
      "ReplyList": {
        "type": "object",
        "properties": {
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reply"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Reply": {
        "type": "object",
        "properties": {
          "reply_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the reply"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL where the reply was sent to"
          },
          "content": {
            "type": "string",
            "description": "Content of the reply message"
          },
          "date_received": {
            "type": "string",
            "format": "date-time",
            "description": "When the reply was received"
          },
          "destination_number": {
            "type": "string",
            "description": "The number the reply was sent to"
          },
          "source_number": {
            "type": "string",
            "description": "The number that sent the reply"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "original_message_id": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the original message this is a reply to"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using API key and secret"
      },
      "hmacAuth": {
        "type": "http",
        "scheme": "hmac",
        "description": "HMAC Authentication using API key and signature"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - The request was invalid or cannot be served",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "invalid_request",
              "message": "The request was invalid or cannot be served",
              "details": "Detailed error information"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Authentication failed or not provided",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Not authorized to access the resource",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests - Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "description": "The maximum number of requests allowed in the time window",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Number of requests remaining in the current window",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Time when the rate limit will reset (UTC epoch seconds)",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal Server Error - Something went wrong on our end",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Messages",
      "description": "Send and manage SMS, MMS, and TTS messages"
    },
    {
      "name": "Delivery Reports",
      "description": "Retrieve and manage message delivery reports"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Messaging",
      "tags": ["Messages", "Delivery Reports", "Replies"]
    },
    {
      "name": "Configuration",
      "tags": ["Source Address", "Number Authorisation", "Dedicated Numbers", "Webhooks Management", "Signature Key Management"]
    }
  ]
}
